name: Test CLI

on:
  push:
    branches: [ main ]
    paths:
      - 'cli/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'cli/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./cli

    strategy:
      matrix:
        node-version: [18.x, 20.x]
      fail-fast: true

    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@1a4442cacd436585916779262731d5b12878567e # v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: cli/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm test
